/**
 * Demo Styles
 */

html {
    box-sizing: border-box;
}


body {
    width: 94%;
    max-width: 640px;
    margin: 64px auto;
    line-height: 1.5;
    text-align: center;
}

.demo {
    text-align: left;
}

/**
 * Form Styles 
 */





.form-field {
    position: relative;
    overflow: hidden;
    padding-top:24px;
    margin-bottom: 24px;
}

.form-input {
    position: relative;
    z-index: 100;
    display: block;
    background-color: transparent;
    width: 100%;
    height: 44px;
    padding: 8px;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
    color: #000000;
}

.form-input:focus {
    outline: none;
}

.form-label {
    width: 100%;
    position: absolute;
    top: 24px;
    padding: 10px 8px;
}

.form-label:before,
.form-label:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
}

/* Background */
.form-label:before {
    top: 0;
    background-color: #fff;
    height: 100%;

    transition: transform 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}


/* Border */
.form-label:after {
    bottom: 0;
    height: 1px;
    background-color: #dedede;
    transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}

.form-input.is-filled + .form-label:after {
    opacity: 0;
}

.form-label-content {
    position: relative;
    display: block;
    width: 100%;
    transform-origin: 0 0;
    transition: transform 0.25s 0.05s cubic-bezier(0.7, 0, 0.3, 1), color 0.25s 0.25s cubic-bezier(0.7, 0, 0.3, 1);
}



                                        /* CSS */
                                                 .button-9 {

                                                     backface-visibility: hidden;
                                                     background-color: #405cf5;
                                                     border-radius: 6px;
                                                     border-width: 0;
                                                     box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
                                                     box-sizing: border-box;
                                                     color: #fff;
                                                     cursor: pointer;
                                                     font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
                                                     font-size: 100%;
                                                     height: 44px;
                                                     line-height: 1.15;
                                                     margin: 12px 0 0;
                                                     outline: none;
                                                     overflow: hidden;
                                                     padding: 0 25px;
                                                     position: relative;
                                                     text-align: center;
                                                     text-transform: none;
                                                    
                                                     transition: all .2s,box-shadow .08s ease-in;
                                                     user-select: none;
                                                     -webkit-user-select: none;
                                                     touch-action: manipulation;
                                                     width: 100%;
                                                 }

.button-9:disabled {
    cursor: default;
}

.button-9:focus {
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}